In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time
import urllib
import os
from selenium.webdriver.common.action_chains import ActionChains

In [7]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https://archive.ics.uci.edu/')

In [8]:
btn1=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
btn1.click()

In [10]:
name=[]
n=driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
text(n,name)

In [34]:
datatypes=[]
defaulttasks=[]
attributesTypes=[]
instance=[]
attribute=[]
year=[]

def text(val,which):
        for i in val:
            temp=i.text
            if temp.strip(' ')=='':
                which.append("-")
            else:
                which.append(temp)
                len(temp)

for i in range(2,610):
    for j in range(2,8):
        if j==2:
            dt=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td['+str(j)+']/p')
            text(dt,datatypes)
        elif j==3:
            deftsk=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td['+str(j)+']/p')
            text(deftsk,defaulttasks)
        elif j==4:
            attps=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td['+str(j)+']/p')
            text(attps,attributesTypes)
        elif j==5:
            inst=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td['+str(j)+']/p')
            text(inst,instance)
        elif j==6:
            att=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td['+str(j)+']/p')
            text(att,attribute)
        else:
            y=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td['+str(j)+']/p')
            text(y,year)

In [44]:
dataset=pd.DataFrame()
dataset['Name']=name[:608]
dataset['Datatypes']=datatypes
dataset['Default Task']=defaulttasks
dataset['Attribute Types']=attributesTypes
dataset['Instances']=instance
dataset['Attributes']=attribute
dataset['Year']=year
dataset

,Name,Datatypes,Default Task,Attribute Types,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
603,Higher Education Students Performance Evaluati...,Multivariate,Classification,Integer,145,33,2021
604,Risk Factor prediction of Chronic Kidney Disease,Multivariate,"Classification, Regression",Real,202,29,2021
605,Lab Test,Multivariate,"Classification, Regression, Clustering",-,221,7,2021
606,Shoulder Implant Manufacture Classification,Multivariate,Classification,-,597,1,2020
607,Rocket League Skillshots Data Set,"Multivariate, Time-Series",Classification,Real,298,-,2020