In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time
import urllib
import os
from selenium.webdriver.common.action_chains import ActionChains

In [2]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https:/www.billboard.com/')

In [3]:
btn1=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a')
btn1.click()

In [11]:
n=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet']")
an=driver.find_elements(By.XPATH,"//span[contains(@class, 'c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only') or contains(@class, 'c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet')]")
lwr=driver.find_elements(By.XPATH,"//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max'][1]")
pw=driver.find_elements(By.XPATH,"//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max'][2]")
wob=driver.find_elements(By.XPATH,"//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max'][2]")

In [12]:
def text(val,which):
    if len(val) == 0:
        which.append("-")
    else:
        for i in val:
            temp=i.text
            which.append(temp)

In [13]:
name=[]
song=[]
lastweek=[]
peakWeek=[]
WeekOnBoard=[]
text(n,name)
text(an,song)
text(lwr,lastweek)
text(pw,peakWeek)
text(wob,WeekOnBoard)

In [15]:
dataset=pd.DataFrame()
dataset['Song Name']=name
dataset['Artist Name']=song
dataset['Last week rank']=lastweek
dataset['Peak rank']=peakWeek
dataset['Weeks on board']=WeekOnBoard
dataset.head()

  Song Name   Artist Name Last week rank Peak rank Weeks on board
0         1  Mariah Carey              2         1             49
1         2    Brenda Lee              3         2             43
2         3         Adele              1         1             10
3         4   Bobby Helms              6         3             40
4         5     Burl Ives              5         4             24