In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time
import urllib
import os
from selenium.webdriver.common.action_chains import ActionChains

In [2]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https://www.naukri.com/')

In [3]:
driver.find_element(By.NAME,"keyword").send_keys("Data Analyst")

In [5]:
btn1=driver.find_element(By.XPATH,"//*[@id='root']/div[3]/div[2]/section/div/form/div[3]/button")
btn1.click()

In [6]:
jt=driver.find_elements(By.XPATH,"//*[@class='title fw500 ellipsis']")
jl=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
cn=driver.find_elements(By.XPATH,"//div[@class='mt-7 companyInfo subheading lh16']")
q=driver.find_elements(By.XPATH,"//div[@class='job-description fs12 grey-text']")
shf=driver.find_elements(By.XPATH,"//ul[@class='tags has-description']")

In [7]:
def text(val,which):
    if len(val) == 0:
        which.append("-")
    else:
        for i in val:
            temp=i.text
            which.append(temp)

In [8]:
job_title=[]
job_location=[] 
company_name=[] 
qualification=[]
skills=[]
text(jt,job_title)
text(jl,job_location)
text(cn,company_name)
text(q,qualification)
text(shf,skills)

In [9]:
dataset=pd.DataFrame()
dataset['Job Title']=job_title
dataset['Job Location']=job_location
dataset['Company Name']=company_name
dataset['Qualification']=qualification
dataset['Skills']=skills
dataset.head()

,Job Title,Job Location,Company Name,Qualification,Skills
0,Trainee - Junior Data Analyst,Mumbai,Cognizant Technology Solutions India Ltd\n3.9\...,Qualification: Graduate / Post Graduate/ Docto...,Clinical operations\nData Analyst\nClinical Da...
1,Associate Data Analyst,Noida(Sector-63 Noida),Loginworks software Pvt Ltd\n3.4\n(31 Reviews),Flexible and able to work in rotation shift(da...,Excel\nMySQL\nData Analysis\nSQL query\ncommun...
2,"Data Analyst ( SQl, Excel)","Noida, New Delhi, Gautam Buddha Nagar, Greater...",Loginworks software Pvt Ltd\n3.4\n(31 Reviews),Flexible and able to work in rotation shift(da...,data analysis\nExcel dashboard\n&quotsql scrip...
3,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart\n4.2\n(3963 Reviews),We are looking for Data Analyst / Business Ana...,Data analyst\nBusiness Analytics\nExcel Dashbo...
4,Senior Data Analyst - Sales Management team,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd\n4.2\n(1611 Reviews),Roles and Responsibilities Overview:Who Are We...,Data Research\nExcel\nCommercial Real Estate\n...