In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time
import urllib
import os
from selenium.webdriver.common.action_chains import ActionChains

In [2]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https://www.naukri.com/')

In [3]:
driver.find_element(By.NAME,"keyword").send_keys("Data Analyst")

In [4]:
btn1=driver.find_element(By.XPATH,"//*[@id='root']/div[3]/div[2]/section/div/form/div[3]/button")
btn1.click()

In [14]:
jt=driver.find_elements(By.XPATH,"//*[@class='title fw500 ellipsis']")
jl=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
cn=driver.find_elements(By.XPATH,"//div[@class='mt-7 companyInfo subheading lh16']")
q=driver.find_elements(By.XPATH,"//div[@class='job-description fs12 grey-text']")
shf=driver.find_elements(By.XPATH,"//ul[@class='tags has-description']")

In [15]:
def text(val,which):
    if len(val) == 0:
        which.append("-")
    else:
        for i in val:
            temp=i.text
            which.append(temp)

In [16]:
job_title=[]
job_location=[] 
company_name=[] 
qualification=[]
skills=[]
text(jt,job_title)
text(jl,job_location)
text(cn,company_name)
text(q,qualification)
text(shf,skills)

In [17]:
dataset=pd.DataFrame()
dataset['Job Title']=job_title
dataset['Job Location']=job_location
dataset['Company Name']=company_name
dataset['Qualification']=qualification
dataset['Skills']=skills
dataset

,Job Title,Job Location,Company Name,Qualification,Skills
0,Senior Data Analyst,Bangalore/Bengaluru,Schneider Electric\n4.2\n(1574 Reviews),Designing and maintaining data model in MS Exc...,Communication Skills\nExcel\nAnalytical\nTechn...
1,Trainee - Junior Data Analyst,Mumbai,Cognizant Technology Solutions India Ltd\n3.9\...,Qualification: Graduate / Post Graduate/ Docto...,Clinical operations\nData Analyst\nClinical Da...
2,"Professional, Technical Business Analysis / Da...",Gurgaon/Gurugram,Fiserv\n3.8\n(1002 Reviews),High School graduate Experience in interacting...,IT Skills\nSharepoint\nPower BI\nData analysis...
3,Associate Data Analyst,Noida(Sector-63 Noida),Loginworks software Pvt Ltd\n3.4\n(31 Reviews),Flexible and able to work in rotation shift(da...,Excel\nMySQL\nData Analysis\nSQL query\ncommun...
4,"Data Analyst ( SQl, Excel)","Noida, New Delhi, Gautam Buddha Nagar, Greater...",Loginworks software Pvt Ltd\n3.4\n(31 Reviews),Flexible and able to work in rotation shift(da...,data analysis\nExcel dashboard\n&quotsql scrip...
5,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,Only Fresher Can Apply:.Description Fresher Ex...,O2C\nfresher data analyst\nPower Bi\nBanking\n...
6,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart\n4.1\n(3984 Reviews),We are looking for Data Analyst / Business Ana...,Data analyst\nBusiness Analytics\nExcel Dashbo...
7,Senior Data Analyst - Sales Management team,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd\n4.2\n(1617 Reviews),Roles and Responsibilities Overview:Who Are We...,Data Research\nExcel\nCommercial Real Estate\n...
8,Data Analyst,Delhi / NCR,Taxmann Group\n4.3\n(18 Reviews),Job Responsibilities: As a Data Analyst in the...,Google Data Studio\nGoogle Analytics\nExcel\nG...
9,Junior Data Analyst/ Scientist- Fresher Position,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Sejal Consulting Hub,Willingness to work beyond traditional working...,C++\nData Analysis\nData Visualization\nAdvanc...
10,MIS Executive / Data Analyst,"Noida(Sector-16A Noida), Ghaziabad, Delhi / NCR",TXN PLACEMENT PRIVATE LIMITED,Dear Candidates. * An Urgent Requirement For g...,BPO\ndata entry\nnight shift\nEmail Support\nb...
11,Global Business Data Analyst,Bangalore/Bengaluru,Schneider Electric\n4.2\n(1574 Reviews),Bachelors or Masters degree in Business in rel...,Global Procurement\nVba\nProject Management\nC...
12,MIS Executive / Data Analyst / Business Analyt...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,Any Graduate Fresher Can Apply Analytics techn...,Sales Analysis\nLogistic Regression\nBusiness ...
13,Looking For immediate joiners Data Analyst @ H...,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",Teamlease Servcies limited\n4.0\n(1344 Reviews),Any graduate Proven working experience in data...,Excel\nWritten Communication\nStatistical Tool...
14,Data Analyst,Bangalore/Bengaluru,AECOM\n4.0\n(703 Reviews),Job SummaryOur clients count on us to think wi...,R\nSQL\nPython\nC#\nNoSQL\nPower BI\nHtml5\nJa...
15,Assistant/deputy Manager - Geo-spatial Data An...,"Gurgaon/Gurugram, bangalore",Maruti Suzuki India\n4.1\n(4508 Reviews),Role:Data AnalystResponsibility:Spatial data e...,esri
16,Merilytics - Business Analyst - Data Analytics...,Hyderabad/Secunderabad,Meritus Intelytics Private Limited\n4.3\n(2 Re...,A willingness to learn and adopt the best prac...,excel\nanalytics\npython\ndata analysis\nbusin...
17,Business Data Analyst- Immediate Joiner,"Noida, Delhi / NCR",YPay,Bachelors in Computer Science (or equivalent w...,database design development\nBusiness data ana...
18,Urgent hiring: Business Coordinator & Data Ana...,New Delhi(Vasant Kunj),ResBird Technologies Pvt. Ltd\n3.5\n(23 Reviews),Female Candidates preferredShould have an expe...,Good Communication Skills\nExcel\nWord\nMS Off...
19,Marketing Data Analyst,New Delhi,Sony India Private Limited\n4.4\n(790 Reviews),Managing the tracking and reporting of each BA...,Google Analytics\nPower Bi\nData Analysis\nDat...