In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import urllib
import os
from selenium.webdriver import ActionChains

In [2]:
def text(val,which):
    if len(val) == 0:
        which.append("-")
    else:
        for i in val:
            temp=i.text
            which.append(temp)

# Cardekho

In [102]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https://www.cardekho.com')

In [103]:
btn4=driver.find_element(By.XPATH,"//*[@id='rf01']/header/div[2]/div/div/nav/ul/li[2]/span/span")
btn4.click()

In [105]:
btn5=driver.find_element(By.XPATH,"//*[@id='cityPopUp']/div/div[2]/section/div[2]/ul/li[4]/a/span[1]")
btn5.click()

## hatchback

### Firstowner

In [106]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [107]:
hatchback=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[10]/div[2]/ul/li[1]/label/span[3]')
hatchback.click()

In [108]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [109]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[1]/label/span')
ow1.click()

In [140]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [145]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [152]:
name=[]
price=[]
trans=[]
km=[]
fuel=[]
owner=[]
type_=[]
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [153]:
for i in range(len(n)):
    owner.append(1)
    type_.append("Hatchback")

### Second owner

In [157]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [159]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[1]/label/span')
ow1.click()

In [158]:
ow2=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[2]/label/span')
ow2.click()

In [160]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [161]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [163]:
for i in range(len(n)):
    owner.append(2)
    type_.append("Hatchback")

## Sedan

### First Owner

In [165]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [168]:
hatchback=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[10]/div[2]/ul/li[1]/label/span[1]')
hatchback.click()

In [166]:
sedan=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[10]/div[2]/ul/li[2]/label/span[2]')
sedan.click()

In [169]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [170]:
ow2=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[2]/label/span')
ow2.click()

In [172]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [173]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[1]/label/span')
ow1.click()

In [174]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [175]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [176]:
for i in range(len(n)):
    owner.append(1)
    type_.append("Sedan")

### Second owner

In [182]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [183]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[1]/label/span')
ow1.click()

In [184]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [185]:
ow2=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[2]/label/span')
ow2.click()

In [186]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [187]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [188]:
for i in range(len(n)):
    owner.append(2)
    type_.append("Sedan")

## SUV

### First Owner

In [195]:
sedan=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[10]/div[2]/ul/li[2]/label/span[1]')
sedan.click()

In [196]:
SUV=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[10]/div[2]/ul/li[3]/label')
SUV.click()

In [191]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [192]:
ow2=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[2]/label/span')
ow2.click()

In [193]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [194]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[1]/label/span')
ow1.click()

In [197]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [198]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [199]:
for i in range(len(n)):
    owner.append(1)
    type_.append("SUV")

### Second Owner

In [205]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [206]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[1]/label/span')
ow1.click()

In [207]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [208]:
ow2=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[2]/label/span')
ow2.click()

In [209]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [210]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [211]:
for i in range(len(n)):
    owner.append(2)
    type_.append("SUV")

## Minivan

### First Owner

In [213]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [214]:
SUV=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[10]/div[2]/ul/li[3]/label/span[1]')
SUV.click()

In [215]:
minivan=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[10]/div[2]/ul/li[5]/label/span[1]')
minivan.click()

In [231]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [234]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[13]/div[2]/ul/li[1]/label/span')
ow1.click()

In [239]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [241]:
ow2=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[13]/div[2]/ul/li[2]/label/span')
ow2.click()

In [242]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [243]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [244]:
for i in range(len(n)):
    owner.append(1)
    type_.append("Minivan")

### Second user

In [245]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [246]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[13]/div[2]/ul/li[1]/label/span')
ow1.click()

In [248]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [249]:
ow2=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[13]/div[2]/ul/li[2]/label/span')
ow2.click()

In [250]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [251]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [252]:
for i in range(len(n)):
    owner.append(2)
    type_.append("Minivan")

## MUV

### First Owner

In [255]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [259]:
minivan=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[10]/div[2]/ul/li[7]/label/span[1]')
minivan.click()

In [ ]:
MUV=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[10]/div[2]/ul/li[4]/label/span[2]')
MUV.click()

In [261]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [262]:
ow2=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[2]/label/span')
ow2.click()

In [263]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [266]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[1]/label/span')
ow1.click()

In [267]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [268]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [269]:
for i in range(len(n)):
    owner.append(1)
    type_.append("MUV")

### Second User

In [272]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [273]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[1]/label/span')
ow1.click()

In [274]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [275]:
ow2=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[14]/div[2]/ul/li[2]/label/span')
ow2.click()

In [276]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [277]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [278]:
for i in range(len(n)):
    owner.append(2)
    type_.append("MUV")

## Luxary

In [280]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [281]:
MUV=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[10]/div[2]/ul/li[4]/label/span[1]')
MUV.click()

In [282]:
luxary=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[10]/div[2]/ul/li[6]/label/span[2]')
luxary.click()

In [294]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [296]:
ow2=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[13]/div[2]/ul/li[1]/label/span')
ow2.click()

In [301]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [303]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[13]/div[2]/ul/li[2]/label/span')
ow1.click()

In [304]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [305]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [306]:
for i in range(len(n)):
    owner.append(1)
    type_.append("luxary")

### Second Owner

In [307]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [308]:
ow1=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[13]/div[2]/ul/li[2]/label/span')
ow1.click()

In [309]:
#scrolling the inner div in webpage
scrolling_element= driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div')    
driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrolling_element)

In [310]:
ow2=driver.find_element(By.XPATH,'//*[@id="rf01"]/div[1]/div/div/main/div[1]/div[2]/div/div[13]/div[2]/ul/li[1]/label/span')
ow2.click()

In [311]:
n=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
p=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-5 text-right price']/span")
t=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[3]")
k=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[1]")
f=driver.find_elements(By.XPATH,"//div[@class='truncate dotlist']/span[2]")

In [312]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)

In [313]:
for i in range(len(n)):
    owner.append(2)
    type_.append("luxary")

# Creating Dataset Foe the data in cardekho

In [314]:
dataset=pd.DataFrame()
dataset['Car Name']=name
dataset['Transmission']=trans
dataset['Kilometers Run']=km
dataset['Fuel Type']=fuel
dataset['Body Type']=type_
dataset['Previous Owners']=owner
dataset['Price']=price
dataset.head()

,Car Name,Transmission,Kilometers Run,Fuel Type,Body Type,Previous Owners,Price
0,2015 Maruti Wagon R,automatic,"61,885 kms",Petrol,Hatchback,1,"3,42,000"
1,2016 Maruti Wagon R,manual,"70,368 kms",CNG,Hatchback,1,"4,07,500"
2,2020 Toyota Glanza,manual,"12,903 kms",Petrol,Hatchback,1,"7,38,000"
3,2016 Maruti Celerio,automatic,"1,06,690 kms",Petrol,Hatchback,1,"3,69,000"
4,2018 Maruti Swift,manual,"37,449 kms",Petrol,Hatchback,1,"5,52,000"

# Saving to CSV File

In [316]:
dataset.to_csv(r'C:\Users\Avinash\Desktop\Internship\Project\Car-Price_Prediction\Car Price Prediction\carpricedata.csv', index = False)

# Cars24

In [87]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https://www.cars24.com')

In [88]:
cross=driver.find_element(By.XPATH,'/html/body/div[1]/div[5]/div/div/h3/div/img')
cross.click()

In [89]:
buc=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[2]/div/div/div[2]/ul/li[3]/a')
buc.click()

### Hatchback

In [76]:
n=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
p=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
t=driver.find_elements(By.XPATH,"//p[@class='cvakB']/span")
k=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[1]")
f=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[3]")
o=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[2]")

In [77]:
name=[]
price=[]
trans=[]
km=[]
fuel=[]
owner=[]
type_=[]
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)
text(o,owner)

In [78]:
for i in range(len(n)):
    type_.append("Hatchback")

### Sedan

In [80]:
n=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
p=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
t=driver.find_elements(By.XPATH,"//p[@class='cvakB']/span")
k=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[1]")
f=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[3]")
o=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[2]")

In [81]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)
text(o,owner)

In [82]:
for i in range(len(n)):
    type_.append("Sedan")

### SUV

In [84]:
n=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
p=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
t=driver.find_elements(By.XPATH,"//p[@class='cvakB']/span")
k=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[1]")
f=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[3]")
o=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[2]")

In [85]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)
text(o,owner)

In [86]:
for i in range(len(n)):
    type_.append("SUV")

### Luxary Sedan

In [90]:
n=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
p=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
t=driver.find_elements(By.XPATH,"//p[@class='cvakB']/span")
k=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[1]")
f=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[3]")
o=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[2]")

In [91]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)
text(o,owner)

In [92]:
for i in range(len(n)):
    type_.append("Luxary Sedan")

### Luxary SUV

In [94]:
n=driver.find_elements(By.XPATH,"//h2[@class='_3FpCg']")
p=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
t=driver.find_elements(By.XPATH,"//p[@class='cvakB']/span")
k=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[1]")
f=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[3]")
o=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']/li[2]")

In [95]:
text(n,name)
text(p,price)
text(t,trans)
text(k,km)
text(f,fuel)
text(o,owner)

In [96]:
for i in range(len(n)):
    type_.append("Luxary SUV")

# creating dataset for crs24

In [98]:
dataset=pd.DataFrame()
dataset['Car Name']=name
dataset['Transmission']=trans
dataset['Kilometers Run']=km
dataset['Fuel Type']=fuel
dataset['Body Type']=type_
dataset['Previous Owners']=owner
dataset['Price']=price
dataset.head()

,Car Name,Transmission,Kilometers Run,Fuel Type,Body Type,Previous Owners,Price
0,2015 Maruti Swift,Manual,"76,264 km",Diesel,Hatchback,1st Owner,"₹4,00,599"
1,2016 Maruti Baleno,Manual,"67,332 km",Diesel,Hatchback,1st Owner,"₹5,72,199"
2,2018 Maruti Wagon R 1.0,Manual,"13,375 km",Petrol,Hatchback,1st Owner,"₹4,77,299"
3,2017 Maruti IGNIS,Manual,"15,302 km",Petrol,Hatchback,1st Owner,"₹5,66,199"
4,2017 Datsun Redi Go,Manual,"20,977 km",Petrol,Hatchback,2nd Owner,"₹2,64,599"

# Appending data to the csv file

In [100]:
dataset.to_csv(r'C:\Users\Avinash\Desktop\Internship\Project\Car-Price_Prediction\Car Price Prediction\carpricedata.csv', mode='a', index=False, header=False)

# Carwale

In [21]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https://www.carwale.com/used/cars-for-sale/#sc=-1&so=-1&pn=1')

## Hatchback

### Manual one owner

In [59]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [60]:
name=[]
price=[]
trans=[]
km=[]
fuel=[]
owner=[]
type_=[]
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [61]:
for i in range(len(n)):
    owner.append(1)
    type_.append("Hatchback")
    trans.append("Manual")

### Auto one owner

In [62]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [63]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [64]:
for i in range(len(n)):
    owner.append(1)
    type_.append("Hatchback")
    trans.append("Automatic")

### Manual two owner

In [65]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [66]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [67]:
for i in range(len(n)):
    owner.append(2)
    type_.append("Hatchback")
    trans.append("Manual")

### Auto two owner

In [68]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [69]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [70]:
for i in range(len(n)):
    owner.append(2)
    type_.append("Hatchback")
    trans.append("Automatic")

# Coupe

### manual one owner

In [71]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [72]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [73]:
for i in range(len(n)):
    owner.append(1)
    type_.append("Coupe")
    trans.append("Manual")

### Auto one

In [74]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [75]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [76]:
for i in range(len(n)):
    owner.append(1)
    type_.append("Coupe")
    trans.append("Aautomatic")

### Manual two

In [77]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [78]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [79]:
for i in range(len(n)):
    owner.append(2)
    type_.append("Coupe")
    trans.append("Manual")

### Auto two

In [80]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [81]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [82]:
for i in range(len(n)):
    owner.append(2)
    type_.append("Coupe")
    trans.append("Automatic")

# SUV

### manual one

In [83]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [84]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [85]:
for i in range(len(n)):
    owner.append(1)
    type_.append("SUV")
    trans.append("Manual")

### auto one

In [86]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [87]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [88]:
for i in range(len(n)):
    owner.append(1)
    type_.append("SUV")
    trans.append("Automatic")

### manual two

In [89]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [90]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [91]:
for i in range(len(n)):
    owner.append(2)
    type_.append("SUV")
    trans.append("Manual")

### auto two

In [92]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [93]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [94]:
for i in range(len(n)):
    owner.append(2)
    type_.append("SUV")
    trans.append("Automatic")

# Minivan

### manual one

In [95]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [96]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [97]:
for i in range(len(n)):
    owner.append(1)
    type_.append("Minivan")
    trans.append("Manual")

### auto one

In [98]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [99]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [100]:
for i in range(len(n)):
    owner.append(1)
    type_.append("Minivan")
    trans.append("Automatic")

### manual two

In [101]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [102]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [103]:
for i in range(len(n)):
    owner.append(2)
    type_.append("Minivan")
    trans.append("Manual")

### auto two

In [104]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [105]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [106]:
for i in range(len(n)):
    owner.append(2)
    type_.append("Minivan")
    trans.append("Automatic")

# Sedan

### manual one

In [107]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [108]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [109]:
for i in range(len(n)):
    owner.append(1)
    type_.append("Sedan")
    trans.append("Manual")

### auto one

In [110]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [111]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [112]:
for i in range(len(n)):
    owner.append(1)
    type_.append("Sedan")
    trans.append("Automatic")

### manual two

In [113]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [114]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [115]:
for i in range(len(n)):
    owner.append(2)
    type_.append("Sedan")
    trans.append("Manual")

### auto two

In [116]:
n=driver.find_elements(By.XPATH,"//span[@class='spancarname card-detail-block__title-text-with-year']")
p=driver.find_elements(By.XPATH,"//span[@class='rupee-lac slprice']")
k=driver.find_elements(By.XPATH,"//span[@class='slkms vehicle-data__item']")
f=driver.find_elements(By.XPATH,"//span[@class='fuel vehicle-data__item']")

In [117]:
text(n,name)
text(p,price)
text(k,km)
text(f,fuel)

In [118]:
for i in range(len(n)):
    owner.append(2)
    type_.append("Sedan")
    trans.append("Automatic")

# carwale dataset

In [121]:
dataset=pd.DataFrame()
dataset['Car Name']=name
dataset['Transmission']=trans
dataset['Kilometers Run']=km
dataset['Fuel Type']=fuel
dataset['Body Type']=type_
dataset['Previous Owners']=owner
dataset['Price']=price
dataset.head()

,Car Name,Transmission,Kilometers Run,Fuel Type,Body Type,Previous Owners,Price
0,Renault Kwid 1.0 RXT [2016-2019],Manual,"25,000 km",Petrol,Hatchback,1,₹ 2.95 Lakh
1,Hyundai i10 Sportz 1.2 Kappa2,Manual,"26,000 km",Petrol,Hatchback,1,₹ 2.75 Lakh
2,Maruti Suzuki Ritz VXI BS-IV,Manual,"24,000 km",Petrol,Hatchback,1,₹ 2.5 Lakh
3,Volkswagen Polo Highline1.2L (P),Manual,"68,018 km",Petrol,Hatchback,1,₹ 3.45 Lakh
4,Maruti Suzuki Alto 800 Lxi,Manual,"80,337 km",Petrol,Hatchback,1,₹ 2.5 Lakh

# saving the dataset

In [122]:
dataset.to_csv(r'C:\Users\Avinash\Desktop\Internship\Project\Car-Price_Prediction\Car Price Prediction\carpricedata.csv', mode='a', index=False, header=False)