In [66]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time

In [87]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https://www.myntra.com/shoes')

In [88]:
btn1=driver.find_element(By.XPATH,"//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
btn1.click()

In [89]:
btn2=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
btn2.click()

In [61]:
pname=[]
prce=[]
product=[]
num=0

In [62]:
for i in range(3):
    time.sleep(1)
    name=driver.find_elements(By.XPATH,"//*[@class='product-brand']")
    for i in name:
        temp=i.text
        pname.append(temp)
    price=driver.find_elements(By.XPATH,"//*[@class='product-price']")
    for i in price:
        temp=i.text
        prce.append(temp)
    prod=driver.find_elements(By.XPATH,"//*[@class='product-product']")
    for i in prod:
        temp=i.text
        product.append(temp)
    if num==0:
        next=driver.find_element(By.XPATH,"//*[@id='desktopSearchResults']/div[2]/section/div[2]/ul/li[12]/a")
        next.click()
        num=num+1
    else:
        next=driver.find_element(By.XPATH,"//*[@id='desktopSearchResults']/div[2]/section/div[2]/ul/li[13]/a")
        next.click()

In [65]:
dataset=pd.DataFrame()
dataset['Product Name']=pname
dataset['Price']=prce
dataset['Description']=product
dataset.head()

   Product Name                      Price                        Description
0          Nike                   Rs. 9995     AIR ZOOM PEGASUS Running Shoes
1          Nike                   Rs. 8295     LEBRON WITNESS Basketball Shoe
2  Hush Puppies  Rs. 8099Rs. 8999(10% OFF)  Men Solid Leather Formal Slip-Ons
3          Nike                   Rs. 7195      Men Zoom Span 4 Running Shoes
4          Nike                  Rs. 11495     Air Zoom Pegasus 38 Shield Run