In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

In [2]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https://www.ambitionbox.com/')

In [3]:
btn1=driver.find_element(By.XPATH,"//*[@id='headerWrapper']/nav/nav/a[6]")
btn1.click()

In [4]:
driver.find_element(By.XPATH,"//*[@id='jobs-typeahead']/span/input").send_keys("Data Scientist")

In [5]:
btn2=driver.find_element(By.XPATH,"//*[@id='jobSearchPage']/div[2]/div[1]/div/div/div/button")
btn2.click()

In [6]:
btn3=driver.find_element(By.XPATH,"//*[@id='filters-row']/div/div/div[2]/div[1]")
btn3.click()

In [7]:
driver.find_element(By.XPATH,"//*[@id='filters-row']/div/div/div[2]/div[2]/div/div[2]/input").send_keys("Noida")

In [8]:
btn4=driver.find_element(By.XPATH,"//*[@id='filters-row']/div/div/div[2]/div[2]/div/div[3]/div/div/div[1]/label")
btn4.click()

In [9]:
name=driver.find_elements(By.XPATH,"//*[@class='company body-medium']")
name[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="e42e30e8-e9f8-4341-8303-be8c793a0d8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="2c419e00-245d-44f4-86c7-463b7c6a0311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="d148cf4a-ced5-44f4-88fe-26c7597bb58e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="71aa2cbe-b83e-4097-8e7e-232ebbb268e0")>]

In [10]:
nam=[]
for i in name:
    temp=i.text
    nam.append(temp)
nam

['Optum Global Solutions (India) Private Limited',
 'Ameriprise Financial',
 'Optum Global Solutions (India) Private Limited',
 'Steria India Ltd',
 'Steria India Ltd',
 'HCL Technologies Limited',
 'Zyoin',
 'GI Group',
 'GI Group',
 'IBM India Pvt. Limited']

In [11]:
days=driver.find_elements(By.XPATH,"//*[@class='body-small-l']")
days[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="41a8afb1-a672-438e-ac97-16374b8b286b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="65bce519-d457-4452-9a4b-5c3a7f0be083")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="4b4bcc1b-9295-435e-9902-0899db743c13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="b50cb3ef-7e5c-4961-9902-5718781056de")>]

In [12]:
d=[]
for i in days:
    temp=i.text
    d.append(temp)
d

['2-6 years',
 'Not Disclosed',
 'Noida, Gurgaon/Gurugram',
 '2-6 Yrs',
 'Not Disclosed',
 'Noida, Gurgaon/Gurugram',
 'Python, Machine Learning, Random Forest +9 more',
 '7d ago',
 'via naukri.com',
 '4-7 Yrs',
 'Not Disclosed',
 'Noida',
 'Technical support, Networking, SAS +7 more',
 '2d ago',
 'via naukri.com',
 '4-9 Yrs',
 'Not Disclosed',
 'Noida',
 'Random Forest, Python, R +4 more',
 '28d ago',
 'via naukri.com',
 '2-6 Yrs',
 'Not Disclosed',
 'Noida',
 'Teradata SQL, Python, Hadoop +1 more',
 '19d ago',
 'via naukri.com',
 '4-8 Yrs',
 'Not Disclosed',
 'Noida',
 'Pyspark, Python, Jupyter +7 more',
 '19d ago',
 'via naukri.com',
 '10-15 Yrs',
 'Not Disclosed',
 'Chennai, Hyderabad/Secunderabad, Noida',
 'Python, Pyspark, Deep Learning +12 more',
 '30d ago',
 'via naukri.com',
 '5-14 Yrs',
 'Bengaluru/Bangalore, Noida',
 'Data Scientist, Data Management, PhD +6 more',
 '1d ago',
 'via hirist.com',
 '8-15 Yrs',
 'Bengaluru/Bangalore, Gurgaon/Gurugram, Noida',
 'Data Science, Data Scientist, Data Management +3 more',
 '2d ago',
 'via iimjobs.com',
 '8-15 Yrs',
 'Delhi NCR, Noida, Gurgaon/Gurugram +4 more',
 'Data Analytics, Data Scientist, Data Visualization +7 more',
 '4d ago',
 'via iimjobs.com',
 '4-6 Yrs',
 'Not Disclosed',
 'Noida',
 'SQL, Automation, Python +7 more',
 '1mon ago',
 'via naukri.com']

In [13]:
day=[]
day=d[7:37:6]+d[37:-4:5]+d[-2:-1]
day

['7d ago',
 '2d ago',
 '28d ago',
 '19d ago',
 '19d ago',
 '30d ago',
 '1d ago',
 '2d ago',
 '4d ago',
 '1mon ago']

In [18]:
ratng=driver.find_elements(By.XPATH,"//span[@class='body-small']")
ratng[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="d8c7ab61-d465-4dab-a57d-b7ac8480eb0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="a67ad890-e03b-4911-b5bb-50b4d8e060b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="f4e0d121-aaa1-43c0-ae71-efc065bbd552")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9e0c7eab601beed9e2bf058e21f3be37", element="11614ce7-cf1f-4c65-a45c-0f10be63b1a4")>]

In [20]:
r=[]
for i in ratng:
    temp=i.text
    r.append(temp)
r

['4.1', '4.1', '4.1', '4.1', '4.1', '3.8', '4.2', '3.9', '3.9', '4.1']

In [21]:
dataset=pd.DataFrame()
dataset['Company Name']=nam
dataset['No. of days ago when job was posted']=day
dataset['Rating']=r
dataset.head()

,Company Name,No. of days ago when job was posted,Rating
0,Optum Global Solutions (India) Private Limited,7d ago,4.1
1,Ameriprise Financial,2d ago,4.1
2,Optum Global Solutions (India) Private Limited,28d ago,4.1
3,Steria India Ltd,19d ago,4.1
4,Steria India Ltd,19d ago,4.1