In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

In [2]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https://www.naukri.com/')

In [3]:
driver.find_element(By.NAME,"keyword").send_keys("Data Analyst")

In [4]:
driver.find_element(By.ID,"qsb-location-sugg").send_keys("Bangalore")

In [6]:
btn1=driver.find_element(By.XPATH,"//*[@id='root']/div[3]/div[2]/section/div/form/div[3]/button")
btn1.click()

In [5]:
job_title=[]
job_location=[] 
company_name=[]

In [7]:
job_t=driver.find_elements(By.XPATH,"//*[@class='title fw500 ellipsis']")
job_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="3e0270b8-ac26-4a12-a61c-1d8f6c7a99c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="be7647c8-011b-40cd-ac3a-94ce8601f41c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="fbe4dde5-7f38-4b2e-9609-03254f3004fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="1faacdb3-049e-4ed9-8b70-0641d53ec2cf")>]

In [8]:
for i in job_t:
    temp=i.text
    job_title.append(temp)
job_title

['Business Data Analyst - Database Design/Mining',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Business Data Analyst',
 'Senior Data Analyst - SQL/Tableau/Redshift',
 'Power BI - Data Analyst - Biocon Biologics',
 'Senior Data Analyst',
 'ID&A - Data Analyst - Informatica MDM',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Lead Data Analyst - Claim Analytics',
 'Lead Data Analyst - Claim Analytics',
 'Hiring For Clinical Data Analyst - Bangalore / Chennai / Homebased',
 'Data Analyst',
 'Business Data Analyst - Data Structure & Quality',
 'Business Data Analyst - Data Structure & Quality',
 'Senior Data Analyst - KPO']

In [9]:
job_l=driver.find_elements(By.XPATH,"//*[@class='ellipsis fleft fs12 lh16 ']")
job_l[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="ee336901-7543-49c3-8693-3fd253cb82cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="438d55d2-01bd-4f2e-9b11-d9fa309c85b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="4016bad2-fc0f-4627-92a5-92ef7e96c2de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="86eb8f9f-0cc6-4c79-9479-975018d15ce3")>]

In [10]:
for i in job_l:
    temp=i.text
    job_location.append(temp)
job_location

['2-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-3 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-8 Yrs',
 'Not disclosed',
 'Mumbai, Bangalore/Bengaluru',
 '5-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 'Not disclosed',
 '3-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-4 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-9 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '2-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-2 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '7-12 Yrs',
 'Not disclosed',
 'Noida, Bangalore/Bengaluru',
 '7-12 Yrs',
 'Not disclosed',
 'Noida, Bangalore/Bengaluru',
 '1-6 Yrs',
 'Not disclosed',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 '2-7 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru(Ulsoor)',
 '2-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '2-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '7-12 Yrs',
 'Not disclosed',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

In [18]:
location1=[]
location2=[]
location=[]
location1=job_location[2:18:3]
location2=job_location[21::3]
location=location1+location2
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru(Ulsoor)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

In [12]:
comp_n=driver.find_elements(By.XPATH,"//*[@class='subTitle ellipsis fleft']")
comp_n[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="cb5d42d1-bd66-4932-867f-56178d520c37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="388a7be9-af13-4a43-b969-69e2b307ffb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="edf39077-dd79-4131-a392-bac61126d259")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9158d5d31fa27ad073f2bf59b118644", element="a39f50d8-6697-44e4-b0a7-ba6a19498e19")>]

In [13]:
for i in comp_n:
    temp=i.text
    company_name.append(temp)
company_name

['AugmatrixGo',
 'Applied Materials',
 'Shell',
 'Shell',
 'INTERTRUST GROUP',
 'NetApp',
 'Pronto Consulting Services',
 'BIOCON BIOLOGICS LIMITED',
 'Utthunga Technologies Pvt Ltd',
 'Shell',
 'Capgemini',
 'Snaphunt',
 'Leap29',
 'InnovAccer',
 'InnovAccer',
 'ICON plc (Formerly PRA Health Sciences)',
 'WEIWO Communication Pvt. Ltd.',
 'Catalyst',
 'Catalyst',
 'Huquo Consulting Pvt. Ltd']

In [19]:
exp=[]
exp1=[]
exp2=[]
exp1=job_location[0:17:3]
exp2=job_location[19::3]
exp=exp1+exp2
exp

['2-5 Yrs',
 '0-3 Yrs',
 '5-8 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '3-4 Yrs',
 '5-9 Yrs',
 '2-5 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '7-12 Yrs',
 '7-12 Yrs',
 '1-6 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '7-12 Yrs']

In [20]:
jt=[]
l=[]
cn=[]
e=[]
jt=job_title[:10]
l=location[:10]
cn=company_name[:10]
e=exp[:10]

In [21]:
dataset=pd.DataFrame()
dataset['Job Title']=jt
dataset['Location']=l
dataset['Company Name']=cn
dataset['Experiance']=e
dataset.head()

,Job Title,Location,Company Name,Experiance
0,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
1,Data Analyst,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell,5-8 Yrs
3,Data Analyst,Bangalore/Bengaluru,Shell,5-10 Yrs
4,Business Data Analyst - MIS & Reporting,"Mumbai, Bangalore/Bengaluru",INTERTRUST GROUP,3-8 Yrs