In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

In [2]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https://www.ambitionbox.com/')

In [3]:
btn1=driver.find_element(By.XPATH,"//*[@id='headerWrapper']/nav/nav/a[4]")
btn1.click()

In [10]:
driver.find_element(By.XPATH,'//*[@id="fixed-typeahead"]/div/div/div[1]/span/input').send_keys("Data Scientist")

In [11]:
ch=driver.find_element(By.XPATH,'//*[@id="fixed-typeahead"]/div/div/div[1]/span/div/div[2]/div[2]/div[2]/div/p')
ch.click()

In [12]:
search=driver.find_element(By.XPATH,'//*[@id="fixed-typeahead"]/div/div/button/span')
search.click()

In [13]:
name=driver.find_elements(By.XPATH,"//div[@class='name']")
name[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="11f04438-93db-4cca-bf56-2a3f5bb07fe3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="2949669e-7d1d-46bf-a7d9-e35395ae2d30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="ed440a1f-0564-456e-bf10-47d1b79db189")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="abc28124-9ed2-43d9-b47f-eafb59094702")>]

In [14]:
nam=[]
for i in name:
    temp=i.text
    nam.append(temp)
nam

['TCS\n(741 Salaries)',
 'Accenture\n(481 Salaries)',
 'IBM\n(405 Salaries)',
 'Cognizant\n(326 Salaries)',
 'Infosys\n(325 Salaries)',
 'Capgemini\n(261 Salaries)',
 'Amazon\n(219 Salaries)',
 'Wipro\n(209 Salaries)',
 'Tech Mahindra\n(206 Salaries)',
 'Fractal Analytics\n(155 Salaries)']

In [34]:
exp=driver.find_elements(By.XPATH,"//div[@class='salaries one-line sbold-list-header']")
exp[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="9cd7df00-1221-4629-934c-794d61e480a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="72b84281-5f25-4f57-887e-0076407b2a5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="12488fa6-65d5-4ef8-b525-0f28c9a7eb78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="a03ac4a4-9c53-4df4-a797-6b03f76a652c")>]

In [35]:
e=[]
for i in exp:
    temp=i.text
    e.append(temp)
e

['0-16 yrs exp',
 '0-18 yrs exp',
 '0-18 yrs exp',
 '0-16 yrs exp',
 '1-16 yrs exp',
 '0-13 yrs exp',
 '1-15 yrs exp',
 '1-15 yrs exp',
 '1-18 yrs exp',
 '0-10 yrs exp']

In [30]:
sal=driver.find_elements(By.XPATH,"//div[@class='value body-medium']")
sal[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="4394363b-a1ff-4ad1-bc2e-5c71bb75779e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="59ba961f-f5b6-453a-b6fd-f02cc48ace90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="53ef9727-ce1f-49d5-86db-e55c3e51d107")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="7bd561b6-dafc-41f5-a15c-84a40f7d6ddb")>]

In [31]:
s=[]
for i in sal:
    temp=i.text
    s.append(temp)
s

['₹ 2.8L',
 '₹ 18.0L',
 '₹ 3.0L',
 '₹ 20.1L',
 '₹ 8.5L',
 '₹ 40.0L',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '₹ 4.3L',
 '₹ 17.8L',
 '₹ 5.4L',
 '₹ 22.0L',
 '₹ 5.0L',
 '₹ 23.0L',
 '₹ 4.8L',
 '₹ 18.0L',
 '₹ 4.5L',
 '₹ 24.0L',
 '₹ 4.5L',
 '₹ 15.7L',
 '₹ 10.0L',
 '₹ 50.0L',
 '₹ 4.2L',
 '₹ 18.0L',
 '₹ 4.1L',
 '₹ 17.5L',
 '₹ 9.0L',
 '₹ 22.0L']

In [24]:
upp=[]
low=[]
upp=e[19::2]
low=e[18::2]

['₹ 4.3L',
 '₹ 5.4L',
 '₹ 5.0L',
 '₹ 4.8L',
 '₹ 4.5L',
 '₹ 4.5L',
 '₹ 10.0L',
 '₹ 4.2L',
 '₹ 4.1L',
 '₹ 9.0L']

In [27]:
aexp=driver.find_elements(By.XPATH,"//p[@class='averageCtc']")
aexp[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="5b9d772f-837e-477a-a6bf-c76d5dc2477e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="2b5588f8-7cf7-4a75-b0ca-6142b0cb92f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="3089bdbf-f9cc-45b0-b7f9-96d5fe07a9fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="442380512d01d37b1ea0e6f0cb31f412", element="c6a0f7c6-364e-4920-92b9-7b14a31c58c8")>]

In [28]:
ae=[]
for i in aexp:
    temp=i.text
    ae.append(temp)
ae

['₹ 7.0L',
 '₹ 7.2L',
 '₹ 19.0L',
 '',
 '',
 '',
 '',
 '',
 '',
 '₹ 8.0L',
 '₹ 12.2L',
 '₹ 11.9L',
 '₹ 9.4L',
 '₹ 10.9L',
 '₹ 8.4L',
 '₹ 25.0L',
 '₹ 9.1L',
 '₹ 8.3L',
 '₹ 14.6L']

In [29]:
avgsal=[]
avgsal=ae[9:]
avgsal

['₹ 8.0L',
 '₹ 12.2L',
 '₹ 11.9L',
 '₹ 9.4L',
 '₹ 10.9L',
 '₹ 8.4L',
 '₹ 25.0L',
 '₹ 9.1L',
 '₹ 8.3L',
 '₹ 14.6L']

In [36]:
dataset=pd.DataFrame()
dataset['Company Name']=nam[0:10]
dataset['Experiance Required']=e[0:10]
dataset['Lowest Salary']=low[0:10]
dataset['Average Salary']=avgsal[0:10]
dataset['Highest Salary']=upp[0:10]
dataset.head()

,Company Name,Experiance Required,Lowest Salary,Average Salary,Highest Salary
0,TCS\n(741 Salaries),0-16 yrs exp,₹ 4.3L,₹ 8.0L,₹ 17.8L
1,Accenture\n(481 Salaries),0-18 yrs exp,₹ 5.4L,₹ 12.2L,₹ 22.0L
2,IBM\n(405 Salaries),0-18 yrs exp,₹ 5.0L,₹ 11.9L,₹ 23.0L
3,Cognizant\n(326 Salaries),0-16 yrs exp,₹ 4.8L,₹ 9.4L,₹ 18.0L
4,Infosys\n(325 Salaries),1-16 yrs exp,₹ 4.5L,₹ 10.9L,₹ 24.0L