In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

In [3]:
s=Service("C:\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=s)
driver.get('https://www.naukri.com/')

In [4]:
driver.find_element(By.NAME,"keyword").send_keys("Data Scientist")

In [5]:
driver.find_element(By.ID,"qsb-location-sugg").send_keys("Bangalore")

In [1]:
btn1=driver.find_element(By.XPATH,"//*[@id='root']/div[3]/div[2]/section/div/form/div[3]/button")
btn1.click()

NameError: name 'driver' is not defined

In [7]:
job_title=[]
job_location=[] 
company_name=[]

In [8]:
job_t=driver.find_elements(By.XPATH,"//*[@class='title fw500 ellipsis']")
job_t[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="ac68a501-f6e8-4868-9a29-6322049ff37f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="bc82d5b8-43bc-46ce-bba6-5db363a33a0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="acea62e8-20c0-4b10-ba73-ee1bf70dd7d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="b744ca84-c30f-486b-aaca-cc980a0f7ae1")>]

In [9]:
for i in job_t:
    temp=i.text
    job_title.append(temp)
job_title

['Data Scientist',
 'Data Scientist',
 'Senior Data Scientist | Fortune 500 Supermarket Chain',
 'Senior Data Scientist',
 'Data Scientist',
 'Hiring For AI Architect / Lead Data Scientist - Bangalore -Iqvia',
 'Lead Data Scientist, Presales',
 'Lead Data Scientist/Lead ML Scientist',
 'Senior Data Scientist',
 'Senior / Lead Data Scientist',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist',
 'Data Scientist',
 'Manager/Senior Manager Data Scientist (Health & Public Service )',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Data Scientist',
 'Cognitive Data Scientist']

In [10]:
job_l=driver.find_elements(By.XPATH,"//*[@class='ellipsis fleft fs12 lh16 ']")
job_l[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="f4ec6727-2c0d-4788-b580-21e6b363b249")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="0fb03e5e-18d1-47fc-a2f0-ceffb09346d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="d6f0e01a-457c-44c7-92c7-671abf6e11a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="8e23652b-0179-4572-833b-7693765d79c9")>]

In [11]:
for i in job_l:
    temp=i.text
    job_location.append(temp)
job_location

['7-11 Yrs',
 'Not disclosed',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 '5-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '7-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '7-12 Yrs',
 'Not disclosed',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Not disclosed',
 '7-12 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '7-12 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '11-15 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '8-11 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '6-11 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-6 Yrs',
 'Not disclosed',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 '7-12 Yrs',
 '16,00,000 - 31,00,000 PA.',
 'Mumbai, Bangalore/Bengaluru',
 '9-14 Yrs',
 '18,00,000 - 33,00,000 PA.',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 '2-4 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-2 Yrs',
 '5,00,000 - 5,50,000 PA.',
 'Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '5-7 Yrs',
 'Not disclosed',
 'Bengaluru/Bangalore',
 '2-5 Yrs',
 '3,00,000 - 6,50,000 PA.',
 'Bangalore/Bengaluru',
 '3-8 Yrs',
 'Not disclosed',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 '3-7 Yrs',
 'Not disclosed',
 'Bengaluru/Bangalore']

In [12]:
location1=[]
location2=[]
location=[]
location1=job_location[2:12:3]
location2=job_location[15::3]
location=location1+location2
location

['Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bengaluru/Bangalore']

In [13]:
comp_n=driver.find_elements(By.XPATH,"//*[@class='subTitle ellipsis fleft']")
comp_n[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="77a63cbb-41f6-4617-8fac-9b2ee6fbe6c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="51ba445b-f6a8-43e7-ba33-f6e5cd7474cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="67c13322-2039-4bfb-aa77-9deaac5566c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6a78c80699809adaf94fe93ebf7240ec", element="824a4d8f-ed28-4835-9fde-3cca2be2c301")>]

In [14]:
for i in comp_n:
    temp=i.text
    company_name.append(temp)
company_name

['Amazon',
 'Alstom Transport India Ltd.',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'Santechture',
 'Evalueserve',
 'IQVIA RDS India Pvt Ltd',
 'Moveworks',
 'ExecBoardinAsia',
 'Easy Recruit',
 'Bukuwarung',
 'Wrackle Technologies Pvt Ltd',
 'SG Analytics Pvt. Ltd.',
 'Winvest technology consultancy services Pvt Ltd',
 'Mount Talent Consulting Private Limited',
 'Exact Space',
 'Think i',
 'IBM India Pvt. Limited',
 'Vepsun Technologies Private Limited.',
 'Big Data BizViz',
 'IBM India Pvt. Limited']

In [19]:
exp=[]
exp1=[]
exp2=[]
exp1=job_location[0:10:3]
exp2=job_location[13::3]
exp=exp1+exp2
exp

['7-11 Yrs',
 '5-10 Yrs',
 '7-10 Yrs',
 '7-12 Yrs',
 '7-12 Yrs',
 '7-12 Yrs',
 '11-15 Yrs',
 '8-11 Yrs',
 '5-10 Yrs',
 '6-11 Yrs',
 '3-6 Yrs',
 '7-12 Yrs',
 '9-14 Yrs',
 '2-4 Yrs',
 '0-2 Yrs',
 '5-7 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-7 Yrs']

In [21]:
jt=[]
l=[]
cn=[]
e=[]
jt=job_title[:10]
l=location[:10]
cn=company_name[:10]
e=exp[:10]

In [22]:
dataset=pd.DataFrame()
dataset['Job Title']=jt
dataset['Location']=l
dataset['Company Name']=cn
dataset['Experiance']=e
dataset.head()

,Job Title,Location,Company Name,Experiance
0,Data Scientist,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Amazon,7-11 Yrs
1,Data Scientist,Bangalore/Bengaluru,Alstom Transport India Ltd.,5-10 Yrs
2,Senior Data Scientist | Fortune 500 Supermarke...,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED,7-10 Yrs
3,Senior Data Scientist,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Santechture,7-12 Yrs
4,Data Scientist,Bangalore/Bengaluru,Evalueserve,7-12 Yrs